.modal{
    width: 90%;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    position: fixed;
    top: 20vh;
    left: 5%;
}
.modal_header{
    padding: 1rem;
    background: rgb(207, 122, 122);
    color: white;
}
.modal_header h1{
    margin: 0;
    font-size: 1.25rem;
}

.modal_content {
    padding: 1rem;
}

.modal_actions{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}
@media (min-width: 700px){
    .modal{
        width: 30rem;
        left:calc((65%-30rem) / 2);
    }
}