body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-control label,
.login-control input,
.form-control label,
.form-control input,
.form-control textarea{
    width: 100%;
    display: block;
}

.login-control label, .form-control label{
    margin-bottom: 0.5rem;
}

.login-control, .form-control{
    margin-bottom: 1rem;
}

.login-actions button,
.btn{
    background: rgb(207, 122, 122);
    font: inherit;
    border: 1px rgb(207, 122, 122);
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.26);
    cursor: pointer;
}

.login-actions button:hover,
.login-actions button:active,
.btn:active,
.btn:hover{
    background: rgb(247, 93, 93);
    border-color: rgb(247, 93, 93);
}
